* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: darkgreen;
}

.container {
    max-width: 1050px;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}