* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../snake-minimalist-art-funny-green-background-hd-wallpaper.jpg);
    background-size: 100% 100%;
    font-family: 'Barrio', cursive;
    color: darkgreen;
}

.container {
    max-width: 1050px;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    h1 {
        font-size: 7rem;
    }
    p {
        font-size: 3rem;
        padding-top: 10px;
    }
}